@keyframes showAlert {
    0% {
        bottom: -5rem;
    }
    20% {
        bottom: 1rem;
    }
    80% {
        bottom: 1rem;
    }
    100% {
        bottom: -5rem;
    }
}
.alert-fixed {
    animation: showAlert 3s;
}