.cart {
    position: fixed;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    top: 1.5rem;
    right: .9rem;
}  

.badge {
    color: white;
    cursor: pointer;
    position:absolute;
    right: .3rem;
}

p.price {
    min-height: 100%;
    font-size: 2rem;
}

.list-group-item.listItem {
    padding-right: 40px;
}